*~
*.bak
*.swp
*.orig
*.o
*.a
*.class
*.jar
*.ear
*.rar
.project
.classpath
.settings

/mbean-jboss-test/target/
/list-comparator-test/target/
/count-down-test/target/
/ip-host-test/target/
ejb-intro/message-client/target/
ejb-intro/message-server/target/